body {
  overflow-y: scroll;
}
.btn-color {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 5px 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-color:hover {
  box-shadow: 1px 1px 5px black, -1px -1px 5px black, -1px 1px 5px black,
    1px -1px 5px black;
}

#paito {
  user-select: none;
  position: relative;
  text-align: center;
  z-index: 10;
}

#draw {
  position: relative;
  z-index: 9;
}

td {
  white-space: nowrap;
}

span.number {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1px;
  border: 1px solid #00000077;
  text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white,
    1px -1px 1px white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.9;
}

.table td,
.table th {
  padding: 0.5rem 0.75rem !important;
}

.nav-btn,
nav .btn {
  margin: 3px;
}

.show {
  display: initial;
}
.hide {
  display: none;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

#paito > tbody {
  font-weight: 500;
}

#paito td {
  padding: 0.5rem 3px !important;
}

.table {
  width:auto;
}